:root {
  --red: #ffadad;
  --orange: #ffd6a5;
  --yellow: #fdffb6;
  --green: #caffbf;
  --blue: #9bf6ff;
  --indigo: #a0c4ff;
  --purple: #bdb2ff;
  --pink: #ffc6ff;
  --white: #fffffc;
  --medium: #e76f51;
  --light: #f4a261;
  --dark: #264653;
  --turqoise: #2a9d8f;
}
body {
  text-align: center;
  color: var(--white, #fffffc);
  background: linear-gradient(
      62deg,
      var(--indigo, #a0c4ff),
      var(--green, #ffd6a5)
    )
    fixed;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background: var(--medium, #e76f51);
  position: fixed;
  z-index: 1;
}
nav a {
  display: block;
  float: left;
  max-height: 10vh;
  margin: 2vh 4vw;
  color: var(--white, #fffffc);
  font-size: 2rem;
  text-decoration: none;
}
#welcome-section {
  top: 0;
  position: sticky;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(
      62deg,
      var(--indigo, #a0c4ff),
      var(--green, #ffd6a5)
    )
    fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 2rem;
}
#projects {
  background: linear-gradient(
      62deg,
      var(--indigo, #a0c4ff),
      var(--green, #ffd6a5)
    )
    fixed;
  padding: 5vh 10vw;
}
#projects h2 {
  padding-top: 5vh;
  font-size: 3rem;
  text-decoration: underline;
}
.projects-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.project-tile {
  margin: 5vh 5vw;
  background: var(--dark, #f4a261);
  box-shadow: 10px 10px 10px #26465350;
  border-radius: 10px;
}
a,
figure {
  display: inline-block;
  margin: 0;
}
figcaption {
  color: var(--white, #fffffc);
  font-size: 1.5rem;
  padding: 0.5rem;
}
a:hover figcaption::before {
  content: "< ";
  color: var(--green, #caffbf);
  font-size: 1.5rem;
}
a:hover figcaption::after {
  content: " />";
  color: var(--green, #caffbf);
  font-size: 1.5rem;
}
figure img {
  width: 100%;
}
#profile-link {
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
button {
  font-size: 3rem;
  border: none;
  font-family: inherit;
  padding: 0;
  margin: 1vmin;
  cursor: pointer;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  background-color: var(--turqoise, #2a9d8f);
  color: inherit;
}
button:hover {
  background-color: var(--medium, #e76f51);
}
#welcome-section:target {
  position: inherit;
}
@media only screen and (max-width: 768px) {
  .projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
