body {
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
}
#header-img {
  max-width: 100vw;
  max-height: 20vh;
}
nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
}
nav a {
  max-height: 10vh;
  margin: 2vmin 4vmin;
  color: #14213d;
  font-size: 2rem;
  text-decoration: none;
}
a:hover {
  color: #fca311;
}
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    width: 100%;
  }
  nav a {
    width: 100%;
    margin: 0;
  }
}
#title-small {
  font-size: 1.5rem;
  display: inline-block;
  color: hotpink;
  font-family: "Shadows Into Light", cursive;
  animation: 1s ease 0s 1 slideInTilt;
  transform: translateY(-1rem) rotate(-30deg);
}
@keyframes slideInTilt {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateY(-1rem) rotate(-30deg);
  }
}
.video-embed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 3rem;
}
.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article {
  padding: 1rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#sold-out {
  color: red;
}
label,
input {
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: inherit;
  margin: 0.5rem;
}
#email {
  width: 100%;
}
#submit {
  background: #fca311;
  color: #14213d;
  border: none;
  margin: 1rem;
  min-height: 3rem;
  min-width: auto;
  border: none;
}
